<div class="container">
  <div class="row center">
    <span id="gameTimer">Timer</span>
  </div>
  
<!--
  <div class="gameArea center row">
    <div class="gameButtons btn-group-vertical">
      
      <a class="btn btn-block btn-primary btn-lg" role="button" ng-click="startGame()">Start Game</a>
      
      <a class="btn btn-block btn-primary btn-lg" role ="button" ng-click="clearScreen()">Clear screen</a>
      <div class="btn-group">
        <a class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown">
          Color <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li ng-click="changeDrawColor(&quot;#ff0000&quot;)"><a>Red</a></li>
          <li ng-click="changeDrawColor(&quot;#00ff00&quot;)"><a>Green</a></li>
          <li ng-click="changeDrawColor(&quot;#0000ff&quot;)"><a>Blue</a></li>
          <li ng-click="changeDrawColor(&quot;#000000&quot;)"><a>Black</a></li>
          <li class="divider"></li>
          <li ng-click="changeDrawColor(&quot;#ffffff&quot;)"><a>Eraser</a></li>
        </ul>
      </div>
-->

  <div class="gameArea center row">

    <div class="gameButtons btn-group-vertical">
      <!-- Button to start the game -->
      <div class="btn btn-block">
        <button class="center-block btn btn-primary btn-lg gameButton" ng-click="startGame()">Start Game</button>
      </div>
      <!-- Button to clear the screen -->
      <div class="btn btn-block">
        <button class="center-block btn btn-primary btn-lg gameButton" ng-click="clearScreen()">Clear Screen</button>
      </div>
      <!-- Button to change color -->
      <div class="btn btn-block dropdown">
        <button type="button" class="center-block btn btn-lg btn-primary dropdown-toggle gameButton" data-toggle="dropdown" aria-expanded="false">
          Color <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li ng-click="changeDrawColor(&quot;#ff0000&quot;)"><a>Red</a></li>
          <li ng-click="changeDrawColor(&quot;#00ff00&quot;)"><a>Green</a></li>
          <li ng-click="changeDrawColor(&quot;#0000ff&quot;)"><a>Blue</a></li>
          <li ng-click="changeDrawColor(&quot;#000000&quot;)"><a>Black</a></li>
          <li class="divider"></li>
          <li ng-click="changeDrawColor(&quot;#ffffff&quot;)"><a>Eraser</a></li>
        </ul>
      </div>
      <!-- Button to change line size -->
      <div class="btn btn-block dropdown">
        <button type="button" class="center-block btn btn-lg btn-primary dropdown-toggle gameButton" data-toggle="dropdown" aria-expanded="false">
          <span class="glyphicon glyphicon-pencil"></span> Size <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li ng-click="changeDrawSize(2.5)"><a>Fine</a></li>
          <li ng-click="changeDrawSize(5)"><a>Small</a></li>
          <li ng-click="changeDrawSize(15)"><a>Medium</a></li>
          <li ng-click="changeDrawSize(25)"><a>Large</a></li>
          <li ng-click="changeDrawSize(40)"><a>Huge</a></li>
        </ul>
      </div>
      <hr>
      <div class="gameStats">
        <p>Stats: WIP</p>
      </div>
    </div>

    <div class="gameDrawArea">
      <canvas id="gameCanvas" width="960" height="400"></canvas>
    </div>
  </div>

  <hr>
  
  <div class="form-control chatMessages row" id="chatMessageBox">
    <p ng-repeat="msg in messages"><b><span ng-bind="msg.name"></span></b>: <span ng-bind="msg.text"></span></p>
  </div>
  

  <!-- Show form to allow people to send messages -->
  <div class="row">
    <form ng-submit="sendMessage()">
      <div class="input-group input-group-lg">
        <input class="form-control input-lg" ng-model="text">
        <span class="input-group-btn">
          <button class="btn btn-primary btn-lg" ng-disable="!text">Send</button>
        </span>
      </div>
    </form>
  </div>
</div>