<div class="container">
  <div class="row center">
    <span id="gameTimer">Timer</span>
  </div>
  <!-- create the canvas upon which people will draw -->
  <div class="row center">
    <canvas id="gameCanvas" width="960" height="400"></canvas>
  </div>
  <hr>
  <!-- Show all messages, currently in ugly table format just to make sure things
  work first -->
  <div class="row">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th class="span2">Name:</th>
          <th class="span7">Message:</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="msg in messages">
          <td class="span2" ng-bind="msg.name"></td>
          <td class="span7" ng-bind="msg.text"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Show form to allow people to send messages -->
  <div class="row">
    <form ng-submit="sendMessage()">
      <div class="input-group input-group-lg">
        <input class="form-control input-lg" ng-model="text">
        <span class="input-group-btn">
          <button class="btn btn-primary btn-lg" ng-disable="!text">Send</button>
        </span>
      </div>
    </form>
  </div>

  <!-- Button to clear the screen -->
  <div class="row">
    <span class="btn-group pull-right">
        <button class="btn btn-primary btn-lg" ng-click="clearScreen()">Clear screen</button>
    </span>
  </div>

</div>
